---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-type" data-offset="100"
---

{% assign sorted_pubs = site.publications | sort: "date" | reverse %}
{% assign pubs_by_type = sorted_pubs | group_by: "type" %}

<div class="row">
    <div class="col-12 col-lg-10">
        {% for group in pubs_by_type %}
        <h5 class="pt-4" id="type-{{ group.name | slugify }}">{{ group.name }}</h5>
        <div class="my-0 p-0 bg-white shadow-sm rounded-xl">
            {% for item in group.items %}
                {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <div class="col-2 d-none d-lg-block">
        <div id="navbar-type" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for group in pubs_by_type %}
            <a class="nav-link d-block" href="#type-{{ group.name | slugify }}">{{ group.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
