{% if site.data.profile.education %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <h6>Education</h6>
                <ul class="list-unstyled mb-0">
                    {% for item in site.data.profile.education %}
                    <li class="mb-2">
                        <div><strong>{{ item.name }}</strong></div>
                        <div class="small d-flex">
                            <div>{{ item.position }}</div>
                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if site.data.experience %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <h6>Experience</h6>
                <ul class="list-unstyled mb-0">
                    {% for item in site.data.experience %}
                    <li class="mb-2">
                        <div><strong>{{ item.name }}</strong></div>
                        <div class="small">{{ item.dept }}</div>
                        <div class="small d-flex">
                            <div>{{ item.position }}</div>
                            <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if site.data.awards %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <h6>Honors &amp; Awards</h6>
                <ul class="list-unstyled mb-0">
                    {% for item in site.data.awards %}
                    <li class="mb-2">
                        <div class="d-flex">
                            <div>
                                <strong>{{ item.name }}</strong>
                                {% if item.detail %}<br/><span class="small text-muted">{{ item.detail }}</span>{% endif %}
                            </div>
                            <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if site.data.academic_service %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <h6>Academic Service</h6>
                {% if site.data.academic_service.program_committee %}
                <div class="mb-1"><strong class="small">Program Committee Member</strong></div>
                <ul class="list-unstyled mb-0">
                    {% for item in site.data.academic_service.program_committee %}
                    <li class="small d-flex mb-1">
                        <div>{{ item.ordinal }} {{ item.venue }}</div>
                        <div class="ml-auto no-break"><em>{{ item.year }}</em></div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if site.data.research_grants %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <h6>Research Grant</h6>
                <ul class="list-unstyled mb-0">
                    {% for item in site.data.research_grants %}
                    <li class="mb-2">
                        <div><strong>{{ item.name }}</strong></div>
                        <div class="small d-flex">
                            <div>{{ item.role }}</div>
                            <div class="ml-auto no-break"><em>{{ item.date }}</em></div>
                        </div>
                        <div class="small text-muted">{{ item.amount }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}