<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% if site.data.profile.education %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="mb-2">
                                    <div><strong>{{ item.name }}</strong></div>
                                    <div class="small d-flex">
                                        <div>{{ item.position }}</div>
                                        <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.experience %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Experience</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.experience %}
                                <li class="mb-2">
                                    <div><strong>{{ item.name }}</strong></div>
                                    <div class="small">{{ item.dept }}</div>
                                    <div class="small d-flex">
                                        <div>{{ item.position }}</div>
                                        <div class="mt-auto ml-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.awards %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Honors &amp; Awards</h6>
                            <ul class="list small pl-3 mb-1">
                                {% for item in site.data.profile.awards %}
                                <li>
                                    <div class="d-flex">
                                        <div>{{ item.name }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ item.date }}</em></div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.academic_service %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Academic Service</h6>
                            {% if site.data.profile.academic_service.program_committee %}
                            <div class="small mb-1"><strong>Program Committee Member</strong></div>
                            <ul class="list small pl-3 mb-1">
                                {% for venue in site.data.profile.academic_service.program_committee %}
                                <li>{{ venue }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if site.data.profile.research_grant %}
                    <div class="col-lg-6">
                        <div class="mx-2 my-1">
                            <h6>Research Grant</h6>
                            <ul class="list-unstyled mb-1">
                                <li>
                                    <div class="small"><strong>{{ site.data.profile.research_grant.name }}</strong></div>
                                    <div class="small d-flex">
                                        <div>{{ site.data.profile.research_grant.role }}</div>
                                        <div class="ml-auto mt-auto no-break"><em>{{ site.data.profile.research_grant.date }}</em></div>
                                    </div>
                                    <div class="small text-muted">{{ site.data.profile.research_grant.amount }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
