{% assign item = include.item %}
{% assign item_id = item.id | slugify %}
<div class="row no-gutters {% unless include.hide_bottom_border %}border-bottom{% endunless %} border-gray">
    <div class="col p-3">
        <p class="mt-0 mb-1"><strong>{{ item.title }}</strong>{{ item.pub_last }}</p>
        <p class="mt-0 mb-0 pub-meta text-muted">{% include widgets/author_list.html authors=item.authors %}</p>
        <p class="mt-0 mb-1 pub-meta text-muted">{{ item.pub_pre }}<i>{{ item.pub }}</i>{{ item.pub_post }}, {{ item.pub_date }} <span data-semantic-scholar-id="{{ item.semantic_scholar_id }}"></span></p>
        <p class="mb-0 pub-meta">
            {% if item.abstract %}
            <a class="text-muted" data-toggle="collapse" href="#abstract-{{ item_id }}" role="button" aria-expanded="false">[Abstract]</a>
            {% endif %}
            {% for link in item.links %}
            {% if link[1].url %}
            <a target="{{ link[1]['target'] }}" href="{{ link[1]['url'] }}">[{{ link[0] }}]</a>
            {% else %}
            <a target="_blank" href="{{ link[1] }}">[{{ link[0] }}]</a>
            {% endif %}
            {% endfor %}
        </p>
        {% if item.abstract %}
        <div class="collapse mt-2" id="abstract-{{ item_id }}">
            <p class="abstract-text text-justify-hyphenate pub-meta text-muted mb-0" lang="en">{{ item.abstract }}</p>
        </div>
        {% endif %}
    </div>
</div>
